.login {
  margin-top: 150px;
  padding: 25px;
  width: 450px;
  background-color: #226699;
  height: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
}
.registration {
  margin-top: 25px;
  height: 580px;
}

th {
  text-align: left;
}

#tweetText {
  color: #226699;
}

.nav-button {
  margin-top: 7px;
  margin-right: 75px;
}

.errors {
	color: red;
}

.navbar-brand img {
  width: auto;
  height: 28px;
}

img.logo {
  width: auto;
  height: 28px;
}

.login-logo {
  margin: 10px auto 0 180px;
  width: auto;
  height: 28px;
}
.login-form {
  margin-top: 25px;
}
.login-button {
  margin-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 25px;
}
.register {
  color: #226699;
}

.btn-primary {
  background-color: #226699;
}

.col {
  width: 30%;
  margin:15px ;
  border: 1px solid #8899A6;
  padding:50px;
}
