body {
  width: 100%;
  background-color: #f5f8fa;
}

.login {
  margin-top: 150px;
  padding: 25px;
  width: 450px;
  background-color: #226699;
  height: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
}
.registration {
  margin-top: 25px;
  height: 580px;
}

th {
  text-align: left;
}

#tweetText {
  color: #226699;
}

.nav-button {
  margin-top: 5px;
  margin-right: 75px;
}

.search {
  margin-top: 5px;
}

.errors {
	color: red;
}

.navbar-brand img {
  width: auto;
  height: 28px;
}

img.logo {
  width: auto;
  height: 28px;
}

.login-logo {
  margin: 10px auto 0 180px;
  width: auto;
  height: 28px;
}
.login-form {
  margin-top: 25px;
}
.login-button {
  margin-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 25px;
}
.register {
  color: #226699;
}

.btn-primary {
  background-color: #226699;
}

.tweets {
  width: 506px;
  padding: 25px 25px 50px 25px;
  border: 1px solid #8899a6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.25em;
  margin-bottom: 5px;
  background-color: #ffffff;
}
.tweet-stamp {
  font-size: .75em;
  color: gray;
}

.profile {
  border: 1px solid #8899a6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 170px;
  background-color: #ffffff;
}
.profile h1 {
  font-size: 1.75em;
  padding-bottom: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}
.profile-header {
  background-color: #226699;
  color: #ffffff;
  margin-top: -1px;
  padding-top: 5px;
  margin-left: -15px;
  margin-right: -16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.profile-username {
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}
.profile-tags {
  margin:0 15px 0 15px;
}
.profile-counters {
  margin-top: -15px;
  font-size: 2em;
  color: #226699;
  font-weight: bold;
}
.counters {
  margin-left: 55px;
  margin-right: 80px;
}