<!-- <form method="post" action="users/<%@user.id%>/tweets/follow">
     Full name:<br>
    <input type="text" name="full_name"><br>
    User name:<br>
    <input type="text" name="username"><br>
     Password:<br>
    <input type="password" name="password"><br>
    Email:<br>
    <input type="text" name="email"><br><br>
    <input type="submit" value="Register">
</form>
 -->