Welcome, <%=@user.full_name.first%>! Check out the list of followers below. 
<div><a href="/homepage">View My Profile</a></div>

<% @users.each do |user| %>
	<p><%= user.full_name %><br>
	<a href="/users/self.id}">@<%= user.username %></a></p>
	<form></form>
<% end %>
