<div class="container">
  <div class="row">
    <div class="col-sm-12">
      Please fill in the following information below:  

      <form>
     Full name:<br>
    <input type="text" name="username"><br>
    User name:<br>
    <input type="text" name="username"><br>
     Password:<br>
    <input type="password" name="password"><br>
    Email:<br>
    <input type="text" name="email"><br><br>
    <input type="submit" value="Register">
    </form>
    </div>
  </div>
  
</div>