<div class="container">
  <div class="row">
    <div class="col-sm-12">
      Welcome to Twitter! Please log in here. 

      <form>
     Username:<br>
    <input type="text" name="username"><br>
     Password:<br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Log in">
    </form>


      If you're not a registered user, please register <a href="/users/new">here</a>. 
    </div>
  </div>
  
</div>
