<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    loads bootstrap
  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if session[:user_id] %>
          <a class="navbar-brand center-block" href="#"><img class="center-block" src="/imgs/twitter_blue.png" alt="twitter logo"></a>
        <% else %>
          <div class="navbar-brand">
            <img class="center-block" src="/imgs/twitter_blue.png" alt="twitter logo">
          </div>
        <% end %>
      </div>
      <% if session[:user_id] %>
        <div class="navbar-right">
          <form action='/users/tweets' method='post'>
            <input type='text' name='username'>
            <input type='submit' value='Search'>
          </form>
          <form class="navbar-form" action='/logout' method='post'>
            <input type="hidden" name="_method" value="delete">
            <button type='submit' class="btn btn-primary nav-button" value='logout'>Logout</button>
            <button type="button" class="btn btn-primary nav-button" data-toggle="modal" data-target="#newTweet"><span class="glyphicon glyphicon-edit"></span> Tweet</button>
          </form>
        </div>
      <% end %>
    </div>
  </nav>
  <%= yield %>

  <div class="modal fade" id="newTweet" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">What's happening?</h4>
        </div>
        <div class="modal-body">
          <form action='/tweets' method="POST">
            <div class="form-group">
              <textarea maxlength="140" class="form-control" name="tweet" autofocus></textarea>
              <span id="tweetText"><span id="counter">140</span> characters remaining</span>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Tweet</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
